[Unit]
Description=reunu Keycard Service
Wants=redis.service
After=redis.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/usr/bin
ExecStart=/usr/bin/reunu-keycard
LimitAS=128M

[Install]
WantedBy=multi-user.target
